
th, td {
    text-align: center;
}

th {
    font-weight: 700;
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease-in-out;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Permet au contenu principal de prendre toute la place disponible */
}

footer {
    background-color: #222; 
    color: white;
    text-align: center;
    padding: 10px;
}
 